 <div class="jumbotron">
     <div class="container">
         <h1>Optimizely {{sdk_title}} SDK Demo App</h1>
         <p>Optimizely {{sdk_title}} allows you to integrate your {{sdk_title}} applications with Optimizely.</p>
     </div>
 </div>
 <div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Demo App</h2>
            <p>Demo App modeled after the Python App</p>
            <p class='demo_page'>
                <a class="btn btn-default" role="button" href="demo.html">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Documentation</h2>
            <p>More documentation</p>
            <p>
                <a class="btn btn-default" href="{{doc_link}}" role="button">View details »</a>
            </p>
        </div>
    </div>
</div>
