<div class="row">
    <input id="clearMessages" class="btn btn-danger" type="button" value="Clear Messages" onclick="clearMessages();"/>
</div>
<br/>
<div class="row">
    <table class="table table-sm" id="messageTable">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Type</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {{#each messages}}
          <tr class="table-info">
            <td>
              {{this.timestamp}}
            </td>
            <td>
              {{this.level}}
            </td>
            <td>
              {{this.message}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>
<script>
    jQuery(function() {
      $(document).ready(function() {
        $('#messageTable').dataTable({
          'bSort': false
        });
      });
    });
</script>