<div class="row">
    <a data-confirm="Are you sure? want to delete all log messages!" class="btn btn-danger " rel="nofollow" data-method="delete" href="/demo/rashidsp204@gmail.com/delete_messages">Clear Messages</a>
</div>
<br/>
<div class="row">
    <table class="table table-sm" id="messageTable">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Type</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {{#each messages}}
          <tr class="table-info">
            <td>
              {{this.timestamp}}
            </td>
            <td>
              {{this.message}}
            </td>
            <td>
              {{this.level}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>

<script>
    jQuery(function() {
      $(document).ready(function() {
        $('#messageTable').dataTable({
          'bSort': false
        });
      });
    });
</script>